.navbar {
    box-sizing: border-box;
     display: inline-block;
     padding: 0px 810px 0px 0px;
    position: fixed;
     background: black;
     position: relative;
     margin: 0px 25px 0px 0px;  
    }
    a{text-decoration: none}
    .navbar .nav-link {
        
        
        color: white;
       
        display: inline-block;
        padding: 15px 0px 15px 30px;
    }
    
    .navbar .nav-link:hover {
        color: lightgrey;
     
    }

.log-outs {
   background: black;
   color: white;
   margin: 0px 10px 0px 1242px;
   padding: 5px 10px 05px 10px;
   
  
}
.log-out .log-outs:hover {
   
   color: lightgray;
}